<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>1_3处理用户输入</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id="msg5">
    <p>{{message}}</p>
    <!--v-on:事件名，属性用变量名，可以缩写成 @事件名-->
    <button v-on:click="reverse">逆转消息</button>

    <!--不使用事件，也可以使用计算属性
        计算属性VS方法： 计算属性只依赖于data内数据变化才做出响应。
    -->
    <p>{{computedMessage}}</p>
</div>

<div id="msg6">
    <p>{{message}}</p>
    <!--v-model，双向绑定message,所见即所得，等价于:value="message" @input="message=$event.target.value"，
        组件化内，为了实现自定义的v-model功能，需要自定义实现:html元素属性=prop，@html元素事件=函数
        e.g. input     :value   = message    @input  = func
             checkbox  :checked = message    @change = func
             Vue.compontent('my-checkbox',{
                model:{  // 开放重写的2个属性
                    prop:'checked',
                    event:'change'
                }
             })
             不同类型实现的属性不同，相同点是都需要实现。
    -->
    <input v-model="message">

    <!--watch适用于耗时操作-->
    <input v-model="question">
    <p>{{answer}}</p>
</div>

<script>
    var app5 = new Vue({
        el: '#msg5', // 操作对象
        data: {      // data是一个JSON结构
            message:'我是正序'
        },
        methods:{    // methods是一个JSON结构，用来编写事件响应方法
            reverse:function () {
                this.message = this.message.split('').reverse().join('') // this访问data内变量message
            }
        },
        computed:{   // 强大的计算属性, 通过方法return修改过后的值=computedMessage，再{{}}。依赖this.message
            computedMessage:function () {
                return this.message.split('').reverse().join('') // this访问data内变量message
            },
            computedMessage2:{   // 一般只用get，使用上面的省略写法。但也可使用set。
                get:function () {
                    return this.message
                },
                set:function (newValue) {
                    this.message = newValue  // 赋值
                }
            }
        }
    });

    var app6 = new Vue({
        el: '#msg6', // 操作对象
        data: {      // data是一个JSON结构
            message:'我是初始值，input输入新值，p内会立即显示',
            question:'',
            answer:'等待提问问题！'
        },
        watch:{
            question:function (newQuestion) {  // 监控对象question
                this.answer = '正在聆听....'
                this.getAnswer()
            }
        },
        methods:{
            getAnswer:function () {
                setTimeout(function () {    // 模拟延时，原生setTimeout内访问app6.answer，不能再用this。
                    app6.answer='YES'
                    console.log(app6.answer)
                },1000)
            }
        }
    });
</script>
</body>
</html>